$def with (username, infos, errmsg)
$var title:详情
$var username: $username

<div class="container jumbotron">
	<h1></h1>
	<p style='color:red'>$errmsg</p>
	<div class="panel panel-default">
		<div class="panel-body">
			<table class='table table-striped'><tr><td>序号<td>版本号<td>发布时间<td>账号<td>备注<td>新增文件<td>修改文件<td>删除文件<td>操作
				$for ver in infos['history']:
					<tr style='color:
					$if ver==infos["current"]:
						red
					'><td>$loop.index<td>$ver<td>$infos['vers'][ver]['uptime']<td>$infos['vers'][ver]['owner']<td>$infos['vers'][ver]['comment']
						<td style='max-width:200px;word-wrap:break-word;'>$:infos['vers'][ver]['newhtm']
						<td style='max-width:200px;word-wrap:break-word;'>$:infos['vers'][ver]['modifyhtm']
						<td style='max-width:200px;word-wrap:break-word;'>$:infos['vers'][ver]['delhtm']
						<td><button class='btn btn-danger' onclick='fallback("$infos['vers'][ver]['app']", "$ver")'>回退</button>
		</div>
	</div>
</div>

<script type="text/javascript">
	function fallback(appid, ver) {
		if(confirm("确定要回退到版本"+ver+"吗?")) {
			$$.ajax({
				url: "/gopub",
				method: "post",
				data: {
					action: "fallback",
					appid: appid,
					version: ver
				},
				dataType: "json",
				success: function(data) {
					if(data["errcode"] != 0) {
						alert(data["errmsg"]);
					} else {
						alert("回退成功");
					}
				}
			})
		}
	}

</script>